*{
    color: white;
    font-family: 'Segoe UI','Roboto';
}

/*corpo da página*/
body {
    background-color: #1a0c3b;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

.body-home{
    justify-content: center;
}

.titulo-principal{
    font-size: 100px;

}

.titulo-principal span{
    color: aqua;
}

.conteiner-home{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteiner-home img {
    width: 15%;
    height: 15%;
}

/*barra de titulo secundario*/
.titulo-secundario{
    font-size: 35px;
}

/*footer*/

.menu{
    margin-top: 50px;
}


.menu a{
text-decoration: none;
font-size: 25px;
border-left: #45e0eb 3px solid;
padding: 0 15px;
}

.menu a:first-child{
    border: none;
    padding-left: 0;
}

/* SOBRE MIM */
.header-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-header{
    display: flex;
    align-items: center;
}

.title-header img {
    width: 10%;
    height: 30%;
    margin-right: 20px;
}

.title-header h1{
    font-size: 50px;

}

p {
    font-size: 25px;
    text-align: justify;
}

.main-info{
    margin: 0 70px;
}

.link-icon{
    font-size: 40px;
    display: flex;
}

.link-icon i:hover{
    color: aqua;
}

/*MEUS PROJETOS*/

.card-projeto{
    background-color:#1a0c3b;
    border: 4px aqua solid;
    padding: 0 15px;
    border-radius: 10px;
    width: 27%;


}

.card-projeto h3{
    border-bottom: 1px aqua solid;
    padding: 10px 0;
    margin: 0px;
    text-align: center;
    font-size: 30px;
}

.main-projeto{
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
}

/*HABILIDADES*/

.main-habilidade{
    display: flex;
    justify-content: space-around;

}
 


.icons-habilidade h4{
    font-size: 20px;
    padding: 15px 0;
    margin: 0px;
    text-align: center
}

.icons-habilidade img{
    display: flex;
    justify-items: center;
}


/* CONTATOS */

.main-contatos{
    display: flex;
    justify-content: space-around;
}
.div1-contatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div1-contatos h2{
    font-size: 30px;
}

.div1-contatos a{
    font-size: 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
    
}

.div1-contatos a:hover{
    color: aqua;
}

.icon-contatos, .fa-brands, .fab{
    font-size: 40px;
    color: aqua;
    margin-right: 5px;
}

.icons-contatos{
    margin:20px 0;
}

.div2-contatos{
    width: 50%;
    max-width: 400px;

}

.div2-contatos h2{
    font-size: 30px;
    text-align: center;

}

.input-grupo{
    display: flex;
    flex-direction: column;
}

.input-grupo label{
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.input-grupo input, .input-grupo textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #1a0c3b;
    box-sizing: border-box;
}

.envia-form{
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(146, 150, 150);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}

.envia-form:hover{  
    background-color: #aaa7a7;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .titulo-principal {
        font-size: 50px;
        text-align: center;
    }

    .conteiner-home{
    flex-direction: column-reverse;
    justify-content: center;

    }

    .conteiner-home img{
        width: 35%;
    }

    .titulo-secundario{
    font-size: 15px;
    text-align: center;
    }

    .menu a{
        font-size: 15px;
        border-bottom: aqua 1px solid;
        border-left: none;
        padding: 0;
        margin: 3px 0;
    }

    .menu a:first-child{
        border-bottom: aqua 1px solid;
    }

    .menu{
        display: flex;
        flex-direction: column;
    }

    .title-header h1{
        font-size: 25px;
    }

    .title-header img{
        width: 15%;
        margin-right: 5px;
    }

    .link-icon{
        font-size: 20px;
    }

    body {
        padding: 0 20px;
    }

    .main-info{
        margin: 0 10px;
    }
    p {
        font-size: 12px;
    }

    .main-projeto{
        flex-direction: column;
    }

    .card-projeto{
        width: auto ;
        margin-bottom: 15px;
    }

    .card-projeto h3{
        font-size: 20px;
        padding: 5px 0;
    }

    .main-habilidade{
        display: flex;
        flex-direction: column;
        align-items:center;
        margin-bottom: 20px;
    }

    .icons-habilidade{
        width: 50%;
    }

    .main-contatos{
        flex-direction: column-reverse;
    }

    .div2-contatos{
        width: 100%;
    }

    .div1-contatos h2, .div2-contatos h2{
        font-size: 20px;
    }

    .input-grupo input, .input-grupo textarea, .envia-form{
        padding: 5px;
    }

    .icons-contatos{
        margin: 0;
    }

    .div1-contatos a{
        font-size: 16px;
    }

    .icons-contatos, .fa-brands, .fab{
        font-size: 30px;
    }

    .div1-contatos h2{
        margin-top: 30px;
        margin-top: 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}
